
@model Empleado

@{
    ViewData["Title"] = "Empleados";
}

@* Seccion agregada para poder validar los formularios con DataAnnotations en tiempo de ejecucion *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}


<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    
    <div class="row">
        <h1>
            Agregar Empleados
        </h1>
        <div class="form-floating">
            @* Formulario para la ingresión de datos *@
            <form id="formAgregarEmpleado" method="post" asp-controller="Empleado" asp-action="ValidarDataAnnotations">
                @* Sección para ingresar el nombre *@
                <div class="mt-5">
                    <label asp-for="Nombre">Nombre:</label>
                    <input type="text" asp-for="Nombre" id="entNom" class="form-control" placeholder="Escriba el nombre aquí">
                    <span asp-validation-for="Nombre" id="spanNombre" class="text-danger"></span>
                </div>

                @* Sección para ingresar el salario *@
                <div class="mt-3">
                    <label asp-for="Salario">Salario:</label>
                    <input type="text" asp-for="Salario" id="entSal" class="form-control" placeholder="Escriba el salario aquí">
                    <span asp-validation-for="Salario" id="spanSalario" class="text-danger"></span>
                </div>
                
            </form>
            @* Sección para los botones *@
            <div class="mt-3" id="div-botones">
                <button type="submit" id="btnSubmit" class="btn btn-primary" form="formAgregarEmpleado">Insertar</button>
                <button id="btnBack" class="btn btn-primary" onclick="location.href='@Url.Action("Listar", "Empleado")'">Regresar</button>
            </div>
        </div>
    </div>
</body>
</html>



